.table a { color: white;
  display:block;
  width:100%;
  height:100%;
  text-decoration:none;
}

tr.striped a {color:#dddddd;}
td.striped a {color:white;}

tr.striped a:hover {color: yellow;}
tr.striped a:hover {color: yellow;}

tr.striped { 
  background-color: #dddddd;   /* or whatever color you want */
}

td.striped {
  background-color: white; 
}

.table td {
  text-align: center; 
  vertical-align:middle;
}

td.empty:hover  {
  background-color: purple;   /* or whatever color you want */
}



#board tr:nth-child(odd) td:nth-child(even),
#board tr:nth-child(even) td:nth-child(odd){
  background:#ccc;
  background:-moz-linear-gradient(top, #ccc, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}